.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.logo-search {
  align-items: center;
  display: flex;
  gap: 10px;
}

.search {
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-1);
  display: flex;
  padding: 5px;
}

.search .search__icon {
  color: var(--gray-1);
}

.search .search__input {
  border: none;
  color: var(--gray-1);
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
}

.search .search__input:focus {
  outline: none;
}

.add-btn {
  background-color: #3db46d;
  border-radius: 8px;
  border: 0;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 10px rgba(61, 180, 109, 0.2));
  height: 36px;
  width: 100px;
}

.add-btn__icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px 5px;
  }

  .logo {
    width: 25px;
    height: 30px;
    object-fit: none;
    object-position: 0;
  }
}

@media screen and (max-width: 360px) {
  .add-btn {
    width: 36px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 24px;
  }

  .add-btn__text {
    display: none;
  }

  .add-btn__icon {
    display: block;
  }
}